/Project/HelloWorld/nbproject/private/
/Project/HelloWorld/build/
/Project/PrimeNum/nbproject/private/
/Project/PrimeNum/build/
/Project/Palindrome/nbproject/private/
/Project/Palindrome/build/
/Basic/ Factorial/nbproject/private/
/Basic/ Factorial/build/
/Basic/Armstrong/nbproject/private/
/Basic/Armstrong/build/